In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
pd.set_option("display.max_columns", 101)
pd.set_option("display.max_rows", 73)

In [3]:
# team_df = pd.read_pickle('data/team_stats_scraped.pickle')
game_df = pd.read_pickle('data/games_scraped.pickle')

In [4]:
game_df.shape

(29399, 25)

In [5]:
mask = (game_df.team == 'chi') & (game_df.year == 2019)
game_df[mask]

,team,year,opp,game_day_of_week,game_date,game_outcome,team_record,game_location,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st
4819,chi,2019,gnb,Thu,September 5,L,0-1,NaN,3.0,10.0,16.0,254.0,208.0,46.0,1.0,13.0,213.0,166.0,47.0,NaN,8.0,NaN,-20.0,9.0,-2.0
4820,chi,2019,den,Sun,September 15,W,1-1,@,16.0,14.0,18.0,273.0,120.0,153.0,NaN,27.0,372.0,282.0,90.0,1.0,4.0,NaN,4.0,-4.0,5.0
4821,chi,2019,was,Mon,September 23,W,2-1,@,31.0,15.0,21.0,298.0,208.0,90.0,1.0,25.0,356.0,287.0,69.0,5.0,8.0,NaN,9.0,11.0,-3.0
4822,chi,2019,min,Sun,September 29,W,3-1,NaN,16.0,6.0,17.0,269.0,197.0,72.0,NaN,15.0,222.0,182.0,40.0,2.0,4.0,NaN,-2.0,10.0,1.0
4823,chi,2019,rai,Sun,October 6,L,3-2,@,21.0,24.0,15.0,236.0,194.0,42.0,2.0,25.0,398.0,229.0,169.0,2.0,1.0,NaN,-3.0,-2.0,-0.0
4824,chi,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4825,chi,2019,nor,Sun,October 20,L,3-3,NaN,25.0,36.0,16.0,252.0,235.0,17.0,2.0,24.0,424.0,273.0,151.0,NaN,4.0,NaN,-12.0,-13.0,10.0
4826,chi,2019,sdg,Sun,October 27,L,3-4,NaN,16.0,17.0,26.0,388.0,226.0,162.0,2.0,11.0,231.0,195.0,36.0,1.0,1.0,NaN,0.0,5.0,-6.0
4827,chi,2019,phi,Sun,November 3,L,3-5,@,14.0,22.0,10.0,164.0,102.0,62.0,1.0,26.0,373.0,227.0,146.0,NaN,1.0,NaN,-4.0,-10.0,2.0
4828,chi,2019,det,Sun,November 10,W,4-5,NaN,20.0,13.0,13.0,226.0,145.0,81.0,NaN,21.0,357.0,259.0,98.0,1.0,1.0,NaN,-0.0,6.0,-2.0
4829,chi,2019,ram,Sun,November 17,L,4-6,@,7.0,17.0,17.0,267.0,193.0,74.0,1.0,13.0,283.0,173.0,110.0,2.0,8.0,NaN,-13.0,5.0,-5.0
4830,chi,2019,nyg,Sun,November 24,W,5-6,NaN,19.0,14.0,20.0,335.0,270.0,65.0,2.0,14.0,243.0,134.0,109.0,1.0,1.0,NaN,-7.0,12.0,-2.0
4831,chi,2019,det,Thu,November 28,W,6-6,@,24.0,20.0,22.0,419.0,331.0,88.0,1.0,19.0,364.0,259.0,105.0,1.0,12.0,NaN,8.0,-6.0,0.0
4832,chi,2019,dal,Thu,December 5,W,7-6,NaN,31.0,24.0,24.0,382.0,231.0,151.0,2.0,22.0,408.0,326.0,82.0,NaN,8.0,NaN,10.0,-10.0,8.0
4833,chi,2019,gnb,Sun,December 15,L,7-7,@,13.0,21.0,20.0,415.0,319.0,96.0,3.0,12.0,292.0,192.0,100.0,NaN,1.0,NaN,-4.0,2.0,-1.0
4834,chi,2019,kan,Sun,December 22,L,7-8,NaN,3.0,26.0,18.0,234.0,133.0,101.0,NaN,25.0,350.0,244.0,106.0,NaN,8.0,NaN,-6.0,-14.0,-1.0
4835,chi,2019,min,Sun,December 29,W,8-8,@,21.0,19.0,24.0,337.0,179.0,158.0,1.0,14.0,300.0,126.0,174.0,3.0,1.0,NaN,1.0,-2.0,-1.0

In [6]:
# clean the game_location column & apply change. def home_game(row):
def home_game(row):    
    if row == '@':
        return 1
    return 0

game_df['home'] = game_df.game_location.apply(home_game)
game_df.drop("game_location", axis=1, errors='ignore', inplace=True)

In [7]:
game_df[mask]

,team,year,opp,game_day_of_week,game_date,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
4819,chi,2019,gnb,Thu,September 5,L,0-1,3.0,10.0,16.0,254.0,208.0,46.0,1.0,13.0,213.0,166.0,47.0,NaN,8.0,NaN,-20.0,9.0,-2.0,0
4820,chi,2019,den,Sun,September 15,W,1-1,16.0,14.0,18.0,273.0,120.0,153.0,NaN,27.0,372.0,282.0,90.0,1.0,4.0,NaN,4.0,-4.0,5.0,1
4821,chi,2019,was,Mon,September 23,W,2-1,31.0,15.0,21.0,298.0,208.0,90.0,1.0,25.0,356.0,287.0,69.0,5.0,8.0,NaN,9.0,11.0,-3.0,1
4822,chi,2019,min,Sun,September 29,W,3-1,16.0,6.0,17.0,269.0,197.0,72.0,NaN,15.0,222.0,182.0,40.0,2.0,4.0,NaN,-2.0,10.0,1.0,0
4823,chi,2019,rai,Sun,October 6,L,3-2,21.0,24.0,15.0,236.0,194.0,42.0,2.0,25.0,398.0,229.0,169.0,2.0,1.0,NaN,-3.0,-2.0,-0.0,1
4824,chi,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4825,chi,2019,nor,Sun,October 20,L,3-3,25.0,36.0,16.0,252.0,235.0,17.0,2.0,24.0,424.0,273.0,151.0,NaN,4.0,NaN,-12.0,-13.0,10.0,0
4826,chi,2019,sdg,Sun,October 27,L,3-4,16.0,17.0,26.0,388.0,226.0,162.0,2.0,11.0,231.0,195.0,36.0,1.0,1.0,NaN,0.0,5.0,-6.0,0
4827,chi,2019,phi,Sun,November 3,L,3-5,14.0,22.0,10.0,164.0,102.0,62.0,1.0,26.0,373.0,227.0,146.0,NaN,1.0,NaN,-4.0,-10.0,2.0,1
4828,chi,2019,det,Sun,November 10,W,4-5,20.0,13.0,13.0,226.0,145.0,81.0,NaN,21.0,357.0,259.0,98.0,1.0,1.0,NaN,-0.0,6.0,-2.0,0
4829,chi,2019,ram,Sun,November 17,L,4-6,7.0,17.0,17.0,267.0,193.0,74.0,1.0,13.0,283.0,173.0,110.0,2.0,8.0,NaN,-13.0,5.0,-5.0,1
4830,chi,2019,nyg,Sun,November 24,W,5-6,19.0,14.0,20.0,335.0,270.0,65.0,2.0,14.0,243.0,134.0,109.0,1.0,1.0,NaN,-7.0,12.0,-2.0,0
4831,chi,2019,det,Thu,November 28,W,6-6,24.0,20.0,22.0,419.0,331.0,88.0,1.0,19.0,364.0,259.0,105.0,1.0,12.0,NaN,8.0,-6.0,0.0,1
4832,chi,2019,dal,Thu,December 5,W,7-6,31.0,24.0,24.0,382.0,231.0,151.0,2.0,22.0,408.0,326.0,82.0,NaN,8.0,NaN,10.0,-10.0,8.0,0
4833,chi,2019,gnb,Sun,December 15,L,7-7,13.0,21.0,20.0,415.0,319.0,96.0,3.0,12.0,292.0,192.0,100.0,NaN,1.0,NaN,-4.0,2.0,-1.0,1
4834,chi,2019,kan,Sun,December 22,L,7-8,3.0,26.0,18.0,234.0,133.0,101.0,NaN,25.0,350.0,244.0,106.0,NaN,8.0,NaN,-6.0,-14.0,-1.0,0
4835,chi,2019,min,Sun,December 29,W,8-8,21.0,19.0,24.0,337.0,179.0,158.0,1.0,14.0,300.0,126.0,174.0,3.0,1.0,NaN,1.0,-2.0,-1.0,1

In [8]:
# add team_year identifier to each row (to easily groupby team/year)

team_years = game_df['team'] + '-' +  game_df['year'].astype(str) 
game_df.insert(loc=2, column='team_year', value=team_years)
game_df.sample()

,team,year,team_year,opp,game_day_of_week,game_date,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
2866,buf,1992,buf-1992,clt,Sun,September 20,W,3-0,38.0,0.0,24.0,380.0,211.0,169.0,2.0,9.0,140.0,103.0,37.0,3.0,8.0,NaN,NaN,NaN,NaN,0

Datetime formatting strings:

- ``%B`` month fullname
- ``%-d`` day of month without leading zero\*
    - \*note: the ``-`` only works on Linux/OS-X...for windows replace with '#'
- ``%Y`` full year

In [9]:
# convert game date to datetime & add new column to DF
f = r"%B %d-%Y"
full_game_date = game_df.game_date + '-' + game_df.year.astype(str)
full_game_date = pd.to_datetime(full_game_date, format=f)
game_df.insert(loc=2, column='date', value=full_game_date)
game_df.sample(3)

,team,year,date,team_year,opp,game_day_of_week,game_date,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
9080,det,1981,1981-10-11,det-1981,den,Sun,October 11,L,2-4,21.0,27.0,18.0,325.0,63.0,262.0,1.0,20.0,401.0,266.0,135.0,3.0,4.0,NaN,NaN,NaN,NaN,1
15796,nwe,1971,1971-10-03,nwe-1971,clt,Sun,October 3,L,1-2,3.0,23.0,9.0,151.0,62.0,89.0,1.0,24.0,358.0,222.0,136.0,2.0,1.0,NaN,NaN,NaN,NaN,0
14635,min,1963,1963-09-22,min-1963,chi,Sun,September 22,L,1-1,7.0,28.0,20.0,326.0,174.0,152.0,5.0,24.0,359.0,253.0,106.0,1.0,NaN,NaN,NaN,NaN,NaN,0

In [10]:
# now drop the game_date col
game_df.drop("game_date", axis=1, inplace=True, errors='ignore')
game_df.sample(2) # to confirm

,team,year,date,team_year,opp,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
5005,cin,1978,1978-10-01,cin-1978,sfo,Sun,L,0-5,12.0,28.0,18.0,322.0,219.0,103.0,8.0,11.0,179.0,66.0,113.0,2.0,4.0,NaN,NaN,NaN,NaN,1
25067,sea,1994,1994-10-30,sea-1994,sdg,Sun,L,3-5,15.0,35.0,14.0,283.0,171.0,112.0,2.0,25.0,348.0,187.0,161.0,1.0,4.0,NaN,-15.0,-5.0,-3.0,1

In [11]:
# now we need to add a week_num column (using shift)
mask = game_df.team_year == 'chi-2019'
game_df[mask].head()

,team,year,date,team_year,opp,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
4819,chi,2019,2019-09-05,chi-2019,gnb,Thu,L,0-1,3.0,10.0,16.0,254.0,208.0,46.0,1.0,13.0,213.0,166.0,47.0,NaN,8.0,NaN,-20.0,9.0,-2.0,0
4820,chi,2019,2019-09-15,chi-2019,den,Sun,W,1-1,16.0,14.0,18.0,273.0,120.0,153.0,NaN,27.0,372.0,282.0,90.0,1.0,4.0,NaN,4.0,-4.0,5.0,1
4821,chi,2019,2019-09-23,chi-2019,was,Mon,W,2-1,31.0,15.0,21.0,298.0,208.0,90.0,1.0,25.0,356.0,287.0,69.0,5.0,8.0,NaN,9.0,11.0,-3.0,1
4822,chi,2019,2019-09-29,chi-2019,min,Sun,W,3-1,16.0,6.0,17.0,269.0,197.0,72.0,NaN,15.0,222.0,182.0,40.0,2.0,4.0,NaN,-2.0,10.0,1.0,0
4823,chi,2019,2019-10-06,chi-2019,rai,Sun,L,3-2,21.0,24.0,15.0,236.0,194.0,42.0,2.0,25.0,398.0,229.0,169.0,2.0,1.0,NaN,-3.0,-2.0,-0.0,1

In [12]:
# convert game_outcome col to binary to avoid multicolinearity

game_df[['result_tie', 'result_win']] = pd.get_dummies(game_df.game_outcome, drop_first=True)
game_df.sample(10)

,team,year,date,team_year,opp,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,result_tie,result_win
8224,den,1991,1991-09-01,den-1991,cin,Sun,W,1-0,45.0,14.0,25.0,471.0,286.0,185.0,NaN,10.0,246.0,193.0,53.0,4.0,4.0,NaN,NaN,NaN,NaN,0,0,1
4583,chi,2005,2005-12-11,chi-2005,pit,Sun,L,9-4,9.0,21.0,15.0,268.0,185.0,83.0,NaN,20.0,363.0,173.0,190.0,NaN,1.0,NaN,-2.0,-7.0,-0.0,1,0,0
17807,nyg,1975,1975-11-01,nyg-1975,sdg,Sat,W,3-4,35.0,24.0,22.0,348.0,183.0,165.0,2.0,18.0,349.0,167.0,182.0,1.0,1.0,NaN,NaN,NaN,NaN,0,0,1
7596,dal,2012,2012-11-18,dal-2012,cle,Sun,W,5-5,23.0,20.0,30.0,320.0,257.0,63.0,1.0,19.0,311.0,192.0,119.0,1.0,1.0,OT,3.0,0.0,-3.0,0,0,1
25616,ram,1964,1964-09-19,ram-1964,det,Sat,T,1-0-1,17.0,17.0,16.0,309.0,191.0,118.0,2.0,11.0,187.0,147.0,40.0,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0
25714,ram,1970,1970-12-06,ram-1970,nor,Sun,W,8-3-1,34.0,16.0,25.0,445.0,336.0,109.0,NaN,15.0,255.0,180.0,75.0,NaN,4.0,NaN,NaN,NaN,NaN,0,0,1
8852,det,1965,1965-11-21,det-1965,chi,Sun,L,5-5,10.0,17.0,11.0,184.0,118.0,66.0,3.0,14.0,230.0,29.0,201.0,1.0,NaN,NaN,NaN,NaN,NaN,0,0,0
879,crd,2015,2015-09-20,crd-2015,chi,Sun,W,2-0,48.0,23.0,21.0,300.0,185.0,115.0,2.0,18.0,335.0,226.0,109.0,2.0,1.0,NaN,17.0,9.0,-3.0,1,0,1
9440,det,2002,2002-10-27,det-2002,buf,Sun,L,2-5,17.0,24.0,16.0,282.0,199.0,83.0,1.0,23.0,343.0,269.0,74.0,2.0,1.0,NaN,-9.0,-6.0,8.0,1,0,0
23757,sfo,1962,1962-10-07,sfo-1962,clt,Sun,W,2-2,21.0,13.0,25.0,335.0,111.0,224.0,3.0,18.0,261.0,138.0,123.0,2.0,NaN,NaN,NaN,NaN,NaN,1,0,1

In [13]:
mask = game_df.game_outcome == "T"
game_df[mask].head()

,team,year,date,team_year,opp,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,result_tie,result_win
9,crd,1960,1960-11-27,crd-1960,cle,Sun,T,5-4-1,17.0,17.0,21.0,322.0,127.0,195.0,6.0,17.0,274.0,88.0,186.0,2.0,NaN,NaN,NaN,NaN,NaN,0,1,0
30,crd,1962,1962-10-14,crd-1962,was,Sun,T,1-3-1,17.0,17.0,16.0,309.0,251.0,58.0,2.0,15.0,321.0,259.0,62.0,1.0,NaN,NaN,NaN,NaN,NaN,0,1,0
55,crd,1964,1964-09-20,crd-1964,cle,Sun,T,1-0-1,33.0,33.0,17.0,344.0,230.0,114.0,3.0,18.0,281.0,166.0,115.0,3.0,NaN,NaN,NaN,NaN,NaN,1,1,0
63,crd,1964,1964-11-15,crd-1964,nyg,Sun,T,5-3-2,10.0,10.0,12.0,143.0,105.0,38.0,3.0,12.0,212.0,131.0,81.0,3.0,NaN,NaN,NaN,NaN,NaN,0,1,0
87,crd,1966,1966-10-16,crd-1966,dal,Sun,T,5-0-1,10.0,10.0,13.0,175.0,130.0,45.0,NaN,17.0,326.0,191.0,135.0,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0

In [14]:
import re

full_records = game_df.team_record
print(full_records)

# num_wins = full_records.apply(lambda x: re.search(r"^([0-9]*)-", str(x))[1])

game_df = (game_df.assign(wins=game_df.team_record.str.split('-').str.get(0),
                          losses=game_df.team_record.str.split('-').str.get(1),
                          ties=game_df.team_record.str.split('-').str.get(2)))

mask = game_df.result_tie == 1
game_df[mask].head()

0         1-0
1         1-1
2         1-2
3         1-3
4         2-3
         ...
29394     6-8
29395     6-9
29396     7-9
29397     NaN
29398    7-10
Name: team_record, Length: 29399, dtype: object

,team,year,date,team_year,opp,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,result_tie,result_win,wins,losses,ties
9,crd,1960,1960-11-27,crd-1960,cle,Sun,T,5-4-1,17.0,17.0,21.0,322.0,127.0,195.0,6.0,17.0,274.0,88.0,186.0,2.0,NaN,NaN,NaN,NaN,NaN,0,1,0,5,4,1
30,crd,1962,1962-10-14,crd-1962,was,Sun,T,1-3-1,17.0,17.0,16.0,309.0,251.0,58.0,2.0,15.0,321.0,259.0,62.0,1.0,NaN,NaN,NaN,NaN,NaN,0,1,0,1,3,1
55,crd,1964,1964-09-20,crd-1964,cle,Sun,T,1-0-1,33.0,33.0,17.0,344.0,230.0,114.0,3.0,18.0,281.0,166.0,115.0,3.0,NaN,NaN,NaN,NaN,NaN,1,1,0,1,0,1
63,crd,1964,1964-11-15,crd-1964,nyg,Sun,T,5-3-2,10.0,10.0,12.0,143.0,105.0,38.0,3.0,12.0,212.0,131.0,81.0,3.0,NaN,NaN,NaN,NaN,NaN,0,1,0,5,3,2
87,crd,1966,1966-10-16,crd-1966,dal,Sun,T,5-0-1,10.0,10.0,13.0,175.0,130.0,45.0,NaN,17.0,326.0,191.0,135.0,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0,5,0,1

Okay, almost there. Our ties are coming through, but we get NaNs for teams that haven't tied, so we'll need to replace those with zeros.

In [15]:
# fill ties NaNs with zero
game_df['ties'] = game_df.ties.fillna(0)

In [17]:
game_df.sample(20)

,team,year,date,team_year,opp,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,result_tie,result_win,wins,losses,ties
11084,htx,2017,2017-11-27,htx-2017,rav,Mon,L,4-7,16.0,23.0,20.0,303.0,237.0,66.0,3.0,17.0,294.0,155.0,139.0,NaN,8.0,NaN,-3.0,-0.0,-7.0,1,0,0,4,7,0
25640,ram,1965,1965-12-05,ram-1965,crd,Sun,W,3-9,27.0,3.0,22.0,380.0,203.0,177.0,1.0,11.0,166.0,104.0,62.0,2.0,NaN,NaN,NaN,NaN,NaN,1,0,1,3,9,0
1088,atl,1973,1973-11-04,atl-1973,ram,Sun,W,5-3,15.0,13.0,18.0,261.0,168.0,93.0,2.0,14.0,226.0,100.0,126.0,2.0,1.0,NaN,NaN,NaN,NaN,0,0,1,5,3,0
7457,dal,2004,2004-12-19,dal-2004,phi,Sun,L,5-9,7.0,12.0,14.0,237.0,157.0,80.0,2.0,24.0,328.0,208.0,120.0,3.0,1.0,NaN,-10.0,4.0,-1.0,1,0,0,5,9,0
4540,chi,2003,2003-10-05,chi-2003,rai,Sun,W,1-3,24.0,21.0,18.0,344.0,144.0,200.0,3.0,18.0,301.0,182.0,119.0,2.0,1.0,NaN,-11.0,7.0,5.0,0,0,1,1,3,0
866,crd,2014,2014-10-26,crd-2014,phi,Sun,W,6-1,24.0,20.0,17.0,400.0,329.0,71.0,1.0,27.0,521.0,411.0,110.0,3.0,4.0,NaN,5.0,-1.0,-0.0,0,0,1,6,1,0
21746,pit,1966,1966-09-11,pit-1966,nyg,Sun,T,0-0-1,34.0,34.0,25.0,404.0,266.0,138.0,3.0,8.0,279.0,247.0,32.0,5.0,NaN,NaN,NaN,NaN,NaN,0,1,0,0,0,1
9997,gnb,1975,1975-11-23,gnb-1975,nyg,Sun,W,2-8,40.0,14.0,26.0,508.0,298.0,210.0,1.0,17.0,379.0,260.0,119.0,5.0,2.0,NaN,NaN,NaN,NaN,0,0,1,2,8,0
3599,car,2007,2007-09-09,car-2007,ram,Sun,W,1-0,27.0,13.0,21.0,385.0,199.0,186.0,2.0,16.0,238.0,162.0,76.0,2.0,12.0,NaN,8.0,10.0,-6.0,1,0,1,1,0,0
10958,htx,2010,2010-12-26,htx-2010,den,Sun,L,5-10,23.0,24.0,21.0,401.0,310.0,91.0,1.0,25.0,431.0,305.0,126.0,1.0,4.0,NaN,9.0,-14.0,4.0,1,0,0,5,10,0
3088,buf,2004,2004-09-19,buf-2004,rai,Sun,L,0-2,10.0,13.0,14.0,243.0,176.0,67.0,1.0,12.0,273.0,200.0,73.0,NaN,4.0,NaN,-4.0,3.0,-2.0,1,0,0,0,2,0
29297,was,2015,2015-10-11,was-2015,atl,Sun,L,2-3,19.0,25.0,18.0,270.0,219.0,51.0,2.0,29.0,418.0,242.0,176.0,3.0,1.0,OT,-4.0,-6.0,5.0,1,0,0,2,3,0
10784,gnb,2019,2019-12-29,gnb-2019,det,Sun,W,13-3,23.0,20.0,25.0,432.0,312.0,120.0,1.0,17.0,305.0,134.0,171.0,1.0,1.0,NaN,8.0,-1.0,-4.0,1,0,1,13,3,0
28769,was,1985,1985-11-10,was-1985,dal,Sun,L,5-5,7.0,13.0,15.0,267.0,143.0,124.0,3.0,14.0,338.0,219.0,119.0,NaN,4.0,NaN,NaN,NaN,NaN,0,0,0,5,5,0
9690,det,2016,2016-12-26,det-2016,dal,Mon,L,9-6,21.0,42.0,23.0,319.0,229.0,90.0,2.0,23.0,375.0,211.0,164.0,NaN,8.0,NaN,5.0,-24.0,-0.0,1,0,0,9,6,0
1556,atl,2002,2002-09-08,atl-2002,gnb,Sun,L,0-1,34.0,37.0,22.0,374.0,194.0,180.0,1.0,29.0,484.0,273.0,211.0,1.0,1.0,OT,16.0,-22.0,3.0,1,0,0,0,1,0
20402,rai,2007,2007-10-21,rai-2007,kan,Sun,L,2-4,10.0,12.0,10.0,268.0,213.0,55.0,2.0,14.0,290.0,164.0,126.0,1.0,4.0,NaN,-16.0,9.0,2.0,0,0,0,2,4,0
18713,nyj,1967,1967-12-17,nyj-1967,rai,Sun,L,7-5-1,29.0,38.0,23.0,464.0,356.0,108.0,3.0,17.0,455.0,336.0,119.0,4.0,NaN,NaN,NaN,NaN,NaN,1,0,0,7,5,1
23855,sfo,1969,1969-10-12,sfo-1969,ram,Sun,L,0-3-1,21.0,27.0,19.0,317.0,241.0,76.0,3.0,19.0,269.0,177.0,92.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,3,1
13354,kan,2004,2004-09-19,kan-2004,car,Sun,L,0-2,17.0,28.0,17.0,281.0,172.0,109.0,2.0,23.0,358.0,175.0,183.0,2.0,1.0,NaN,-7.0,-2.0,-0.0,0,0,0,0,2,0

In [ ]:
# add week_nums

In [ ]:
# add off_bye column

In [ ]:
# use df.reindex to reorder cols with list